In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
endpoint = 'https://data.nashville.gov/resource/fuaa-r5cm.json'

In [3]:
#response = requests.get(endpoint)

In [7]:
result = response.json()

In [8]:
#Make an API request that returns the months where "fire" was searched in 2016. 
#Which month had the most searches? 
params = {'query_text': 'fire', 
          'year': 2016
    }
response= requests.get(endpoint, params=params)
response.text

'[{"month_name":"January","year":"2016","query_count":"19","query_text":"fire"}\n,{"month_name":"February","year":"2016","query_count":"35","query_text":"fire"}\n,{"month_name":"March","year":"2016","query_count":"32","query_text":"fire"}\n,{"month_name":"April","year":"2016","query_count":"26","query_text":"fire"}\n,{"month_name":"May","year":"2016","query_count":"24","query_text":"fire"}\n,{"month_name":"June","year":"2016","query_count":"31","query_text":"fire"}\n,{"month_name":"July","year":"2016","query_count":"24","query_text":"fire"}\n,{"month_name":"August","year":"2016","query_count":"47","query_text":"fire"}\n,{"month_name":"September","year":"2016","query_count":"36","query_text":"fire"}\n,{"month_name":"October","year":"2016","query_count":"38","query_text":"fire"}\n,{"month_name":"November","year":"2016","query_count":"32","query_text":"fire"}\n,{"month_name":"December","year":"2016","query_count":"38","query_text":"fire"}]\n'

In [9]:
df_fire = pd.DataFrame(result)
df_fire.loc[df_fire['query_text'] =='fire']

   month_name  year query_count query_text
0     January  2016          19       fire
1    February  2016          35       fire
2       March  2016          32       fire
3       April  2016          26       fire
4         May  2016          24       fire
5        June  2016          31       fire
6        July  2016          24       fire
7      August  2016          47       fire
8   September  2016          36       fire
9     October  2016          38       fire
10   November  2016          32       fire
11   December  2016          38       fire

   month_name  year      query_text query_count
0     January  2014            ebid         223
1     January  2014   property maps         112
2     January  2014            maps          97
3     January  2014    property tax          90
4     January  2014            jobs          76
..        ...   ...             ...         ...
95    January  2014      zoning map          14
96    January  2014           email          14
97    January  2014  Property taxes          14
98    January  2014          budget          14
99    January  2014         traffic          14

[100 rows x 4 columns]

In [32]:
#Make an API request that returns all the times a query was run more than 100 times in a month. 
#How many times did this occur?  
aparams = {
    '$select': 'month_name, year, query_text, query_count',
    '$limit': '50000',
    '$where': 'query_count>=100',
     }
aresponse = requests.get(endpoint, params=aparams)
ares = aresponse.json()
response = pd.DataFrame(ares)
response['query_count'] = pd.to_numeric(response['query_count'])
api_request = response[response['query_count'] > 100]
occurrences_count = api_request.shape[0]
api_request
#api_request '>' not supported between instances of 'str' and 'int'

     month_name  year            query_text  query_count
25        March  2014               permits          101
26      January  2015  criminal court clerk          101
27    September  2015                 codes          101
28        March  2016                police          101
29        March  2016         civil service          101
...         ...   ...                   ...          ...
1282  September  2018     annual enrollment          750
1283    October  2018     annual enrollment          816
1284    January  2019             Nashville         2646
1285  September  2019             directory         5327
1286  September  2019                  test         5610

[1262 rows x 4 columns]

In [31]:
query_occurrences = df_fire['year'].value_counts()
more_than_100_times = query_occurrences[query_occurrences > 100]
count = len(more_than_100_times)
print(count)

0

In [ ]:
#Make another API request that returns all the times "codes" was searched more than 100 times in a month.

In [33]:
#Make an API request that returns the entire Top 500 Monthly Searches dataset. 
#Make a chart that shows the number of times "maps" was searched in a month across the entire time frame.
aparams = {
    '$select': 'month_name, year, query_text, query_count',
    '$limit': '50000'
    }
aresponse= requests.get(endpoint, params=aparams)
ares=aresponse.json()
response=pd.DataFrame(ares)
response

      month_name  year         query_text query_count
0        January  2014               ebid         223
1        January  2014      property maps         112
2        January  2014               maps          97
3        January  2014       property tax          90
4        January  2014               jobs          76
...          ...   ...                ...         ...
43672       July  2021     sign ordinance           8
43673       July  2021               snap           8
43674       July  2021     small business           8
43675       July  2021   water department           8
43676       July  2021  value of property           8

[43677 rows x 4 columns]